<h1>Edit Recipe</h1>
<br>

<div class="field">
<%= form_for @post do |f| %>

    <div>
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div>
        <%= f.label :content %>
        <%= f.text_field :content  %>
        <%= f.file_field :image %>
    </div>
<br>


    <%= f.submit "Submit these changes" %>

<% end %>
</div>



