<h1 class="title">Today's POST</h1>


<ul>
    <% @posts.each do |post| %>
        <li>
            <strong> <%= post.name %> </strong>
            <%= post.category_id %>
            <br>
            <% if post.image.present? %>
              <%= image_tag post.image.url(:medium) %>
            <% end %>
            <br>

            <%= link_to "Recipe", post_path(post) %>
            <br>
            <%= link_to "Add Comment", post_path(post) %>


        </li>
          <br>

    <% end %>
</ul>




