<div id="Z" class="masonry" style="position: relative; height: 1213px; opacity: 1;">

<div class="X" style="position: absolute; top: 0px; left: 0px;">


    <ul>
    <% @posts.each do |post| %>

            <strong> <%= post.name %> </strong>
            <%= post.category_id %>
            <br>
            <% if post.image.present? %>
              <%= image_tag post.image.url(:medium) %>
            <% end %>
            <br>

            <%= link_to "Recipe", post_path(post) %>
            <br>
            <%= link_to "Add Comment", post_path(post) %>
          <br>
    <% end %>
    </ul>
</div>

</div>



















