<h1><em>Num Nom</em></h1>
<br>
<h2>Add a new post!</h2>

<br>
<%= form_for @post do |f| %>

    <div class="field">
        <%= f.label :name %>
        <%= f.text_field :name %>
    </div>

    <div class="field">
        <%= f.label :content %>
        <%= f.text_field :content %>
        <%= f.file_field :image %>
        <%= f.collection_select :category_id, Category.all, :id, :name %>

    </div>




    <br>
    <div class="field">
    <%= f.submit "Submit post" %>
    </div>

<% end %>


