<div class="recipecontainer">
    <h1 class="recipelogo large">Add your recipe </h1>

    <br>
    <%= form_for @post do |f| %>
        <div class="field">
            <%= f.label :name %>
            <%= f.text_field :name %>
        </div>
        <div class="field">
            <%= f.label :ingredients %>
            <%= f.text_field :content %>
            <%= f.file_field :image %>
        </div>
        <div class="field">
        <%= f.submit "Submit post" %>
        </div>

    <% end %>
</div>









