  <h1> <%= @post.name %> </h1>

  <div class="field">
    <% if @post.image.present? %>
        <%= image_tag @post.image.url(:medium) %>
    <% end %>
  </div>
  <br>

  <p> <%= @post.content %> </p>
  <div class="field">

  <% @post.comments.each do |comment| %>

    <%= comment.content %>

  <% end %>
  <%= render :partial => "comments/form" %>
  <%= link_to "Edit", edit_post_path(@post) %>
  </div>


