  <h1> <%= @post.name %> </h1>

  <div class="field">
    <% if @post.image.present? %>
        <%= image_tag @post.image.url(:medium) %>
    <% end %>
  </div>
  <br>

  <p> <%= @post.content %> </p>
  <div class="field">

  <%= form_for Post.new do |f| %>
      <%= hidden_field :user_id, :value => current_user.id if current_user %>
      <%= f.text_area :content %>
      <%= f.submit "Submit" %>


      <% end %>
  <%= link_to "Edit", edit_post_path(@post) %>
  </div>

