

  <div class="showcontainer">

  <div class="field">
    <h1 class="showlogo large"><%= @post.name %></h1>
    <% if @post.image.present? %>
        <%= image_tag @post.image.url(:medium) %>
    <% end %>
    <h2>Ingredients</h2>
  <p> <%= @post.content %> </p>
  </div>
  <div class="field">

  <h2>Comments</h2>
  <div class="commentbox">
    <% @post.comments.each do |comment| %>
      <li><%= comment.content %></li>
    <% end %>
  </div>
  <%= render :partial => "comments/form" %>
  <%= link_to "Edit", edit_post_path(@post) %>
  </div>







